.navButton{
    position: absolute;
    top: 50%;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 900;
    font-size: 15px;
    transition: .5s;

}
.navButton:hover{
    transform: scale(1.3);
}

.navButton.prev{
    left: 10px;
    right: auto;
}
.navButton.next{
    left: auto;
    right: 10px;
}