.PhotoListener{
    background: #fff;
    border-radius: 10px;
    padding: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.PhotoListener img {
    max-width: 100%;
}