.Gallery{
max-width: 940px;
    margin: 0 auto;
}
.Gallery h1{
    color: #fff;
    text-shadow: 2px 2px 12px #000;
    margin-bottom: 3rem;
}
.Gallery h2{
    color: #fff;
    text-shadow: 2px 2px 12px #000;
    margin-bottom: 1rem;
    text-align: left;
}